# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env*.local
.env.development
.env.production

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# Builds
build/
*.apk
*.aab
*.ipa

# EAS
.eas/
.eas.json

# Temp files
*.log
*.tmp
.tmp/
temp/

app-example
